// Body
$body-bg: #f8fafc;
$color-black : #fff;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// FLAT COLOR
$clouds : #ecf0f1;
$lynxwhite : #f5f6fa;
$blue-night: #353b48;
$hot-stone : #aaa69d;
$asbestos : #7f8c8d;
$midnight-blue: #2c3e50;
$mblue : rgba(241, 241, 241, 0.95);
$pumpkin : #d35400;
$silver : #bdc3c7;
$wet-asphalt : #34495e;
$pomegranate: #c0392b;